In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sys
sys.path.append("../src")

from data_prep import *
from make_cuts import *

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
c_folder="../../data/calibration/"
d_folder="../../data/runData/"
r_n=307
p_folder="../../plots/run_"+str(r_n)+"/"

In [5]:
p,m,r=import_data(c_folder,d_folder, 300, is_it_pulsed=False)

In [6]:
r=select_bars_with_data(r,p, subtract_pedestal=True, is_it_pulsed=False) #this needs to be run as it's own cell

Number of events: 71416


Initial pedestal-based selection performed.
Events left: 71415

In [7]:
r=convert_mip_to_MeV(r, m, is_it_pulsed=False)

In [8]:
r.head()

,pf_event,tot_end0,adc_sum_end0,adc_mean_end0,adc_max_end0,layer,strip,tot_end1,adc_sum_end1,adc_mean_end1,adc_max_end1
0,341,0,1.500580,0.187572,0.644693,1,0,0,1.418696,0.177337,0.637863
1,444,0,0.711386,0.088923,0.555770,1,0,0,2.067556,0.258445,0.549882
2,501,0,1.456118,0.182015,0.500193,1,0,0,1.385703,0.173213,0.494894
3,878,656,46.306773,5.788347,10.315095,1,0,384,30.056549,3.757069,10.095833
4,1024,0,1.156002,0.144500,0.422385,1,0,0,0.923802,0.115475,0.395915

In [9]:
r=first_layer_cut(r)
r=back_layer_cut(r,5)
r.head()

Events with multiple hits in first layer removed.
Events left: 42333


Events with hits in the back 5 layers removed.
Events left: 31066

,pf_event,tot_end0,adc_sum_end0,adc_mean_end0,adc_max_end0,layer,strip,tot_end1,adc_sum_end1,adc_mean_end1,adc_max_end1
3,878,656,46.306773,5.788347,10.315095,1,0,384,30.056549,3.757069,10.095833
303,45668,0,1.500580,0.187572,0.377924,1,0,0,1.407698,0.175962,0.362922
538,3678,0,0.868335,0.108542,0.150083,1,1,0,1.409060,0.176132,0.236358
566,7463,0,5.274334,0.659292,1.007698,1,1,0,3.718100,0.464762,0.727257
877,42239,0,9.144323,1.143040,1.918914,1,1,0,8.617992,1.077249,1.681781